#single-product {
  .products-main{
      padding: 15px;
      border-top: 1px solid #333;
    border-bottom: 1px solid #333;

      .container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2{
            padding: 15px 0;
          }
            img{
              width: 90%;
          }

          p {
              font-size: 20px;
              padding: 15px 94px;
              line-height: 30px;
          }
      }
  }
}
